:root {
  --tx--black : #28303d;
    --tx--gray : #8e8f97;
    --accent : #03ff94;
    --bg-black : #00000f;
    --bg-gray : linear-gradient(0deg, #c1c7cd 0%,#fafafa 100%);
}



*{
    font-family: 'Sora', sans-serif;
}

h1 , h2 , h3 {
    font-family: 'Roboto Slab', serif;
    font-weight:500;
    /* line-height: 1.2px; */
}

.my-bg-color{
    background: var(--bg-black);
}

.my-tx-black{
    color: var(--tx--black);
}

.my-tx-gray{
    color: var(--bg-gray);
}

.my-accent{
    color: var(--accent);
}

.my-bg-gray{
    color: var(--bg-gray);
}


.it-navbar {
    background-color: whitesmoke;
}

.it-navbar  .navbar-brand  {
   color: var(--tx--black);
   font-weight: 800;
   font-size: 36px;
}

.it-navbar  .navbar-toggler {
   color: var(--tx--black);
   font-size: 24px;
}

.it-navbar .navbar-toggler:focus {
    box-shadow: none;
}


.model-link-list a{
 text-decoration: none;
 color: white;
 padding: 0px 15px;
}

.model-link-list a:hover{
 color: var(--accent);
}

.bg-slide-header-1{
   background-image: url(./img/corosalo-pic.jpg);
   background-size: cover;
   background-position: center right;
}

.bg-slide-header-2{
   background-image: url(./img/HEADER_3.jpg);
   background-size: cover;
   background-position: center right;
}

.bg-slide-header-3{
  background-image: url(./img/top_design.jpg);
  background-size: cover;
  background-position: center right;
}

.discover-more{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.discover-more i{
    color:white;
    padding: 5px;
}

.discover-more:hover {
    color:var(--accent);
    
}

.discover-more:hover i{
    color:var(--accent);
    padding: 10px;  
}

.carousel-indicators .active{
    background-color: var(--accent);
}

     /* second section */
.bg-impact-design{
    background-image: url(./img/background_design1.jpg);
    background-position: center;
    
}

.bg-impact2-design{
    background-image: url(./img/Logotel_NiceToMeetYou-1536x768.jpg);
    background-position: center;
    
}


.section-card , .section-card-right {
    padding: 20px 40px;
    background: linear-gradient(80deg ,#00000FD6 , #00000FD6 );
}


@media screen and (max-width: 576px){
    .section-card{
    padding: 40px 70px 40px 30px;
    background: linear-gradient(85deg ,#00000FD6 , #00000FD6 90% , transparent 95%);
    }

    .section-card-right{
    padding: 40px 30px 40px 120px;
    background: linear-gradient(85deg ,transparent 5% ,  #00000FD6 5% , #00000FD6  );
    }
}

